/* =====
# BASE
===== */
html {
  font-size:90%;
  box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #dddddd;
  color:#505050;
  min-height: 100vh;
}

h1 {
  font-size: 1.44rem;
  margin: 0;
}

p {
  margin: 0;
}

/* =======
# APP
======= */

/* HEADER */

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 10px 0;
  text-align: center;
}

.App-logo {
  position: relative;
  width: 80px;
}

.App-tmdbLogo {
  width:60px;
  position: relative;
  margin-left: 15px;
  top:2px;
}

/* CONTENT */

.App-content {
  padding: 15px;
  text-align: center;
}

.release-date, .App-content-poster {
  margin-bottom: 15px;
}

/* BUTTONS */

/* button icons */
.svg-inline--fa{
  margin-right:.3em;
}

.rating-stars {
  font-size: 2.4em;
  margin-bottom: 15px;
}

.btn {
  font-size: 1.2rem;
  width:7em;
  height:2em;
  border:none;
  border-radius: 0.25em;
  cursor:pointer;
}
.btn:focus {
  outline:0;
  border:1px solid #fff;
}

.btn--next-movie, .btn--delete {
  background-color: #B70E17;
  color:#fff;
}
.btn--next-movie:hover, .btn--delete:hover{
  color: #B70E17;
  background-color:#fff;
}

.btn--next-movie {
  width:16rem;
  margin: 20px 10px;
}

.btn--delete {
  width:9em;
  font-size: 0.8rem;
}

.btn--my-ratings {
  font-size: 1rem;
  background-color:transparent;
  color:#fff;
  border: 1px solid white;
  margin-right: 15px;
  position: relative;
}
.btn--my-ratings:hover{
  color:#111;
  background-color:#fff;
}

.btn--submit{
  width:8rem;
  background-color:#00C871;
  color:#fff;
  border-radius: 0 0.25em 0.25em 0;
}
.btn--submit:hover{
  color:#00C871;
  background-color:#fff;
}

.btn--reset{
  width:8rem;
  background-color:#777;
  color:#fff;
  border-radius: 0.25em;
  border-radius: 0.25em 0 0 0.25em;
}
.btn--reset:hover{
  color:#777;
  background-color:#fff;
}

/* MY RATINGS */

.my-ratings h1 {
  text-align: center;
  padding: 15px 0;
}

.my-ratings{
  background-color: #fff;
  background-color: rgba(255,255,255,0.9);
}

.my-ratings table{
  width:100%;
  border-collapse: collapse;
}

.my-ratings tr {
  text-align: center;
}

.my-ratings td {
  border-top:1px solid #ddd;
  padding:0.50em;
}

.my-ratings td:first-child{
  width: 50%;
}

/* ============
# MEDIA QUERIES
============ */
@media (min-width:699px){
  html{
    font-size: 100%;
  }
  body{
    background: url('./cinema.min.jpg') no-repeat top center;
    background-size: cover;
  }

  /* HEADER */
  .App-logo {
    width: 120px;
  }
  .App-tmdbLogo {
    width:80px;
  }

  /* CONTENT */

  .App-content {
    background-color: #808080;
    background-color: rgba(255,255,255,0.9);
    border-radius: 0.25em;
    max-width: 38em;
    margin:50px auto 0;
  }
}

@media (max-width:700px){
  .my-ratings table, 
  .my-ratings thead, 
  .my-ratings tbody, 
  .my-ratings th, 
  .my-ratings td, 
  .my-ratings tr { 
    display: block;
    width:100%;
  }

  .my-ratings tr {
    border-top:1px solid #ddd;
    padding:0.50em;
  }

  .my-ratings td {
    border:none;
  }

  .my-ratings thead,
  .my-ratings td:nth-child(2){
    display:none;
  }

  .my-ratings td:first-child{
    width:100%;
  }
}
  