.App {
  text-align: center;
}

.App-logo {
  width: 120px;
}

.App-header {
  background-color: #222;
  height: 40px;
  line-height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}